<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/shopping-cart.css" type="text/css" />

  </head>
  <body>
    <header>
      <h1>DacMonalds</h1>
      <% if (!(user)) {%>
      <form action="/api/login" method="POST">
        <button type="submit">Login</button>
      </form>
      <%} else {%>
      <form action="/api/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
      <% } %>
    </header>

    <div id = "menu-container" >
    </div>

  <div id="shopping-div">
    <table id="shopping-cart">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Price</th>
          <th>Calories</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tr><th>Total</th></tr>
    </table>
    <form action='/api/checkout' method="POST">
      <button class="prevention checkout-button" >Checkout</button>
    </form>
  </div>

    <footer>
    </footer>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/client_add_item.js"></script>
    <script type="text/javascript" src="/scripts/checkout.js"></script>

</body>
</html>
