footer{
    position:fixed;
    height:7vh;
    width:100%;
    background-color:red;
    bottom:0;
    display:grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
.footer-button{
    margin: .25vw;
    margin-bottom: 1vw;
    margin-top:5%;
    border-radius:50px;
    color:yellow;
    border:1.2px solid yellow;
}