$mcdonalds-red: rgb(233, 60, 60);


footer{
    position:fixed;
    width:100%;
    background-color:$mcdonalds-red;
    bottom:0;
    display:grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 8% 4% 8%;
}
#footer-cart-button{
    margin: .25vw;
    margin-left: .25vw;
    margin-top:5%;
    border-radius:40px;
    color:yellow;
    border:1.5px solid yellow;
    // font-size: 24px;
}

#footer-track-button {
    grid-column-start: 10;
    background-color:transparent;
    border:0;
    font-size:1.25em;
    color:yellow;
}
#footer-track-button:hover {
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform:translateY(0px);
    }
    to {
        transform:translateY(-10px);
        }
}

@media only screen and (min-width: 1201px) {
    .track-order-button{
      right: 35%;
    }
    #footer-cart-button{
      font-size:12px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .track-order-button{
      right:30%;
    }
    #footer-cart-button{
      font-size:12px;
    }
  }
  
  @media only screen and (max-width:1000px) {
    .track-order-button{
      right:25%;
    }
    #footer-cart-button{
      font-size:12px;
    }
  }