$font-family:'Righteous','cursive';
$border-black:2px solid black;
$mcdonalds-red: rgb(233, 60, 60);

body {
  background-color: white;
  font-size:1em;

  #menu-container {
    width:80vw;
    margin-left:10vw;
    font-family:$font-family;

    .menu-items {
      border:black 2px solid;
      margin:5vh;
      text-align:center;
      background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/restaurant_icons.png");
      display:grid;
      grid-template-columns: 16.66666% 16.66666% 16.66666% 16.66666% 16.66666% 16.66666%;
      grid-template-rows: 20% 20% 20% 20% 20%;
      padding:2vw;

    .img-form {
      background-position: center center;
      grid-column-start:1;
      grid-column-end:4;
      grid-row-start:1;
      grid-row-end:6;
      border:$border-black;
    }
   }
  }

  //Tags Within menu-items

.item-name {
  grid-column-start:4;
  grid-row-start:1;
  grid-column-end: span 2;
  grid-row-end: span 2;
  border-bottom:2px solid #ffc107;
  margin:0;
  margin-left:2vw;
  color:white;
}
.item-price {
  grid-column-start:6;
  grid-row-start:5;
  font-size:2em;
  color:white;
}
.item-calories {
  grid-column-start:6;
  grid-row-start:2;
  font-size:2em;
  color:white
}
.item-button {
  grid-column-start:4;
  grid-row-start:5;
  grid-column-end: span 2;
  margin-left:5vw;
  margin-right:3vw;
}
.price-paragraph{
  font-size:2em;
  grid-column-start: 6;
  grid-row-start:4;
}
.calories-paragraph {
  font-size:2em;
  grid-column-start:6;
  grid-row-start:1;
}

//Track Order Div

#order_div {
  display:none;
  border:$border-black;
  padding:2vh;
  position:fixed;
  background-color:white;
  bottom:8vh;
  right:0vw;
  width:20vw;
  height:15vw;
  padding-top:2vw;
}
#order_message {
  text-align:center;
}
#track-form {
  text-align:center;
  
}
.track-order-button{
  // position:absolute;
  // bottom:5vh;
  // right:7.8vw;
  bottom:5vh;
  // margin-top:5vh;
}
}


// @media only screen and (min-width: 1301px){
//   .menu-items{
//     display:grid;
//     grid-template-columns: 16.66666% 16.66666% 16.66666% 16.66666% 16.66666% 16.66666%;
//     grid-template-rows: 20% 20% 20% 20% 20%;
//   }
//   .img-form {
//     background-position: center center;
//     grid-column-start:1;
//     grid-column-end:4;
//     grid-row-start:1;
//     grid-row-end:6;
//     border:$border-black;
//   }
// };

@media only screen and (min-width:1201px) {
  .item-calories {
    grid-column-start:6;
    grid-row-start:2;
    font-size:2em;
    color:white
  }
  .calories-paragraph {
    font-size:2em;
    grid-column-start:6;
    grid-row-start:1;
  }
  .item-name{
  font-size:3.5em;
  }
  .logout-button-div{
    grid-column-start: 7;

  }
}
@media only screen and (max-width: 1200px) {
  .item-calories {
    grid-column-start:6;
    grid-row-start:2;
    font-size:2em;
    color:white;
    visibility:hidden;
  }
  .calories-paragraph{
    font-size:2em;
    grid-column-start:6;
    grid-row-start:1;
    visibility:hidden;
  }
  .item-name{
    font-size: 2.75em;
  }
  .logout-button-div{
    grid-column-start: 6;
  }
}

//   .menu-items{
//     display:grid;
//     grid-template-columns:25% 25% 25% 25%;
//     grid-template-rows: 50% 50%;
//   }
//   .img-form {
//     background-position: center center;
//     grid-column-start:1;
//     grid-column-end:2;
//     grid-row-start:1;
//     grid-row-end:2;
//     border:$border-black;
//   }
// }