table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  } 

  #shopping-div {
    width:52vh;
    margin-left:2vh;
    border: 2px solid black;
    position:fixed;
    top:40vh;
    left:10vh;
    background-color:white;

  }
  
  #shopping-cart {
    width:50vh;
    margin:1vh;
  }